<div class="progress">
  <div class="bar" style="width: 100%;"></div>
</div>
<%= render layout: 'form' do |f| %>
<fieldset>
    <legend>Career</legend>
<div class="control-group">
    <%= f.label :employment_private, "Private Sector employment history", :class => "control-label" %><br />
    <%= f.text_area :employment_private, :cols=>20,:rows=>5 %>
  </div>

  <div class="control-group">
    <%= f.label :employment_public, "Public Sector employment history", :class => "control-label" %><br />
    <%= f.text_area :employment_public, :cols=>20,:rows=>5 %>
  </div>

<div class="control-group">
    <%= f.label :public_first, "First Political office held", :class => "control-label" %><br />
    <%= f.text_field :public_first %>
  </div>

<div class="control-group">
    <%= f.label :public_first_date, "Year of first Political office held", :class => "control-label" %><br />
    <%= f.date_select :public_first_date, :order => [:month, :year], :start_year => 1950 %>
  </div>

<div class="control-group">
    <%= f.label :first_house_election, "Year of First Election into the House", :class => "control-label" %><br />
    <%= f.date_select :first_house_election, :order => [:month, :year], :start_year => 1950 %>
  </div>

<div class="control-group">
    <%= f.label :committees_served, "Other Committees served in:", :class => "control-label" %><br />
    <%= f.text_area :committees_served, :cols=>20,:rows=>5 %>
  </div>
</fieldset>
<% end %>